<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>{{ film.titre }}</title>
   <base href="http://localhost/annuaire_films/"/>
</head>
<body>
   <header>
      <h1>{{film.titre}}</h1>
   </header>
   <p>{{ film.synopsis }}</p>
   <img src="{{ film.images }}" alt="{{ film.titre }}">
   <p>{{ film.annee }}</p>
   <p>Genres :
    {% for genre in genres %}
        {{ genre.genre }} {% if loop.last == false %} / {% endif %}
    {% endfor %}
   </p>
    <p>Realisateurs :
    {% for realisateur in realisateurs %}
        {{ realisateur.realisateurs }} {% if loop.last == false %} / {% endif %}
    {% endfor %}
   </p>
   <footer>
      <p>Pied de page...</p>
   </footer>
</body>
</html>
